Repository NickLaye/amocrm-health-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: возврат к точному совпадению location = /health с явным путём и добавлены таймауты для диагностики
  nginx.conf
Due: none

fix: добавлена детальная диагностика конфигурации nginx и проверка логов ошибок
  .github/workflows/deploy.yml
Due: prettier --write

fix: улучшена установка зависимостей - используется npm ci и добавлена проверка dotenv модуля перед запуском
  .github/workflows/deploy.yml
Due: prettier --write

fix: изменён proxy_pass для /health - убран путь чтобы nginx передавал полный URI, улучшена диагностика
  .github/workflows/deploy.yml
  nginx.conf
Due: prettier --write

fix: возврат к точному совпадению location = /health с явным путём в proxy_pass
  nginx.conf
Due: none

fix: добавлена проверка порядка location блоков и поиск конфликтующих server блоков
  .github/workflows/deploy.yml
Due: prettier --write

fix: упрощена конфигурация location = /health - точное совпадение имеет абсолютный приоритет в nginx
  nginx.conf
Due: none

fix: улучшена диагностика - вывод полного порядка location блоков для отладки
  .github/workflows/deploy.yml
Due: prettier --write

fix: исправлен порядок регистрации маршрутов - /health теперь регистрируется ПЕРЕД статическими файлами в Express
  .github/workflows/deploy.yml
  server/app-server.js
Due: eslint --fix, prettier --write

fix: изменён proxy_pass для /health - убран путь чтобы nginx передавал полный URI, добавлена детальная диагностика ответа
  .github/workflows/deploy.yml
  nginx.conf
Due: prettier --write

fix: /health теперь регистрируется ПЕРВЫМ маршрутом, добавлены проверки в static middleware и catch-all для пропуска /health
  server/app-server.js
Due: eslint --fix, prettier --write

fix: /health регистрируется ДО auth middleware, добавлено info логирование для диагностики
  server/app-server.js
Due: eslint --fix, prettier --write

fix: добавлен app.use('/health') в начале initialize() + app.all('/health') для двойной защиты, улучшена проверка пути
  server/app-server.js
Due: eslint --fix, prettier --write

fix: /health регистрируется напрямую через app.get() в начале initialize(), убрана сложная логика app.use()
  server/app-server.js
Due: eslint --fix, prettier --write

fix: улучшен catch-all маршрут для исключения /health, исправлен deploy.yml для правильного перезапуска PM2 (stop/delete перед start)
  .github/workflows/deploy.yml
  server/app-server.js
Due: eslint --fix, prettier --write

fix: /health регистрируется ДО всех middleware (включая trust proxy и security), улучшена проверка пути в static middleware
  server/app-server.js
Due: eslint --fix, prettier --write

fix: явно указан путь /health в proxy_pass для location = /health
  nginx.conf
Due: none

fix: вернул proxy_pass без пути для location = /health (сохраняет оригинальный URI)
  nginx.conf
Due: none

fix: добавлен Host header в проверки health endpoint через nginx в deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

fix: увеличены время ожидания и интервалы между попытками health check, добавлена диагностика для Express.js 404
  .github/workflows/deploy.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: ((any of: *.js) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  cd client && eslint --fix: any of: client/**/*.{js,jsx}
  cd client && prettier --write: any of: client/**/*.{js,jsx}
