Repository NickLaye/amocrm-health-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: GET API check now accepts 4xx status as UP
  server/monitor.js
Due: eslint --fix, prettier --write

feat: добавлено 15 метрик производительности в режиме 'Детальный'
  client/src/components/Dashboard/Dashboard.css
  client/src/components/ServiceCard/ServiceCard.jsx
  client/src/utils/formatters.js
  server/api.js
  server/database.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: исправлена вёрстка детальных метрик
  client/src/components/Dashboard/Dashboard.css
Due: prettier --write

fix: исправлены тесты и обработка null значений в getDetailedStatistics
  DESIGN_COMPARISON.md
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/public/index.html
  client/src/App.new.js
  client/src/components/HealthMonitorDashboard/HealthMonitorDashboard.jsx
  client/src/components/HealthMonitorDashboard/README.md
  client/src/components/HealthMonitorDashboard/index.js
  client/src/index.css
  client/tailwind.config.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/server/api.js.html
  coverage/lcov-report/server/config/constants.js.html
  coverage/lcov-report/server/config/env-validator.js.html
  coverage/lcov-report/server/config/environment.js.html
  coverage/lcov-report/server/config/index.html
  coverage/lcov-report/server/database.js.html
  coverage/lcov-report/server/index.html
  coverage/lcov-report/server/middleware/auth.js.html
  coverage/lcov-report/server/middleware/index.html
  coverage/lcov-report/server/middleware/validation.js.html
  coverage/lcov-report/server/monitor.js.html
  coverage/lcov-report/server/notifications.js.html
  coverage/lcov-report/server/token-manager.js.html
  coverage/lcov-report/server/utils/export-helpers.js.html
  coverage/lcov-report/server/utils/http-helpers.js.html
  coverage/lcov-report/server/utils/index.html
  coverage/lcov-report/server/utils/logger.js.html
  coverage/lcov.info
  jest.config.js
  server/__tests__/api.integration.test.js
  server/api.js
  server/database.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: удалены случайно добавленные файлы Tailwind CSS
  DESIGN_COMPARISON.md
  client/postcss.config.js
  client/src/App.new.js
  client/src/components/HealthMonitorDashboard/HealthMonitorDashboard.jsx
  client/src/components/HealthMonitorDashboard/README.md
  client/src/components/HealthMonitorDashboard/index.js
  client/tailwind.config.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

✨ Добавлен pixel-perfect дизайн с Tailwind CSS
  DESIGN_COMPARISON.md
  NEW_DESIGN_OVERVIEW.md
  PIXEL_PERFECT_DESIGN_RU.md
  QUICK_START_NEW_DESIGN.md
  SUMMARY.txt
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/src/App.integrated.js
  client/src/App.new.js
  client/src/App.old.js
  client/src/components/HealthMonitorDashboard/HealthMonitorDashboard.jsx
  client/src/components/HealthMonitorDashboard/HealthMonitorDashboardWithData.jsx
  client/src/components/HealthMonitorDashboard/README.md
  client/src/components/HealthMonitorDashboard/index.js
  client/tailwind.config.js
  server/__tests__/api.integration.test.js
  switch-design.sh
  ГОТОВО_УСПЕШНО.md
  ДИЗАЙН_ГОТОВ.md
  ИСПРАВЛЕНО.txt
  НАЧАТЬ_ЗДЕСЬ.txt
  НОВЫЙ_ДИЗАЙН_АКТИВЕН.md
  РЕШЕНИЕ_ПРОБЛЕМЫ.md
  ФИНАЛЬНОЕ_РЕШЕНИЕ.md
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: исправлено двойное умножение времени ответа на 1000
  client/src/components/AverageResponseTime/AverageResponseTime.jsx
  ДЕПЛОЙ_ЗАВЕРШЕН.md
Due: prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: удалён случайно добавленный файл
  ДЕПЛОЙ_ЗАВЕРШЕН.md
Due: prettier --write

chore: удалены временные файлы документации
  DESIGN_COMPARISON.md
  IMPLEMENTATION_SUMMARY.md
  NEW_DESIGN_OVERVIEW.md
  PIXEL_PERFECT_DESIGN_RU.md
  QUICK_START_NEW_DESIGN.md
  SUMMARY.txt
  ГОТОВО_УСПЕШНО.md
  ДИЗАЙН_ГОТОВ.md
  ИСПРАВЛЕНО.txt
  НАЧАТЬ_ЗДЕСЬ.txt
  НОВЫЙ_ДИЗАЙН_АКТИВЕН.md
  РЕШЕНИЕ_ПРОБЛЕМЫ.md
  ФИНАЛЬНОЕ_РЕШЕНИЕ.md
Due: prettier --write

fix: отключен автодеплой frontend для сохранения рабочего bundle
  .github/workflows/deploy.yml
  client/package-lock.json
Due: prettier --write

feat: улучшен дизайн расположения метрик производительности
  client/src/components/Dashboard/Dashboard.css
Due: prettier --write

fix: исправлена конфигурация Nginx для IPv4 подключения к backend
  nginx.conf
Due: none

fix: исправлена конфигурация Nginx для статических файлов
  nginx.conf
Due: none

fix: исправлена ширина карточек сервисов в детальном режиме
  client/src/components/Dashboard/Dashboard.css
Due: prettier --write

fix: исправлен циклический редирект в Nginx конфигурации
  nginx.conf
Due: none

fix(ci): make codecov upload non-blocking
  .github/workflows/ci-cd.yml
Due: prettier --write

fix(ci): drop Node.js 18.x support
  .github/workflows/ci-cd.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: ((any of: *.js) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  cd client && eslint --fix: any of: client/**/*.{js,jsx}
  cd client && prettier --write: any of: client/**/*.{js,jsx}
