Repository NickLaye/amocrm-health-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: исправлен запуск PM2 с ecosystem.config.js
  .github/workflows/deploy.yml
Due: prettier --write

debug: добавлен вывод содержимого директории для отладки
  .github/workflows/deploy.yml
Due: prettier --write

fix: исправлена интерполяция переменных в SSH heredoc
  .github/workflows/deploy.yml
Due: prettier --write

fix: добавлены кавычки в nginx root path
  nginx.conf
Due: none

fix: автоматическое определение пути к frontend build
  debug-deploy.sh
  fix-server.sh
  server/index.js
Due: eslint --fix, prettier --write

fix: исправлен import в ThemeContext.js
  client/src/contexts/ThemeContext.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: исправлена ошибка slice в IncidentHistory
  client/src/components/IncidentHistory.jsx
Due: cd client && eslint --fix, cd client && prettier --write

feat: добавлена SSE аутентификация
  .gitignore
  client/src/services/api.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: исправлена конфигурация rate limiter и удалён дубликат IncidentHistory
  client/src/App.js
  server/index.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: добавлен trust proxy для rate limiter
  coverage/clover.xml
  coverage/lcov-report/index.html
  coverage/lcov-report/server/api.js.html
  coverage/lcov-report/server/config/constants.js.html
  coverage/lcov-report/server/config/env-validator.js.html
  coverage/lcov-report/server/config/environment.js.html
  coverage/lcov-report/server/config/index.html
  coverage/lcov-report/server/database.js.html
  coverage/lcov-report/server/index.html
  coverage/lcov-report/server/middleware/auth.js.html
  coverage/lcov-report/server/middleware/index.html
  coverage/lcov-report/server/middleware/validation.js.html
  coverage/lcov-report/server/monitor.js.html
  coverage/lcov-report/server/notifications.js.html
  coverage/lcov-report/server/token-manager.js.html
  coverage/lcov-report/server/utils/export-helpers.js.html
  coverage/lcov-report/server/utils/http-helpers.js.html
  coverage/lcov-report/server/utils/index.html
  coverage/lcov-report/server/utils/logger.js.html
  server/index.js
Due: eslint --fix, prettier --write

fix: заменён deprecated meta tag apple-mobile-web-app-capable на mobile-web-app-capable
  client/public/index.html
Due: none

fix: добавлен переключатель TabsNav и отступ между блоками
  client/src/components/Dashboard/Dashboard.css
  client/src/components/Dashboard/Dashboard.jsx
Due: prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: реализована работа переключателя видов метрик
  client/src/components/ServiceCard/ServiceCard.jsx
  client/src/components/ServicesGrid/ServicesGrid.jsx
Due: cd client && eslint --fix, cd client && prettier --write

revert: восстановлена версия 1.5.1 без лишних изменений
  client/src/components/Dashboard/Dashboard.jsx
  client/src/components/ServiceCard/ServiceCard.jsx
  client/src/components/ServicesGrid/ServicesGrid.jsx
Due: cd client && eslint --fix, cd client && prettier --write

fix: bind backend to 0.0.0.0 to fix Nginx proxy connection
  server/index.js
Due: eslint --fix, prettier --write

fix: add REACT_APP_API_SECRET to frontend build for SSE auth
  .github/workflows/deploy.yml
Due: prettier --write

feat: implement runtime config for SSE authentication
  client/src/hooks/useMonitoring.js
  client/src/services/api.js
  client/src/services/config.js
  server/api.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

feat: restore detailed metrics view toggle
  client/src/components/Dashboard/Dashboard.jsx
  client/src/components/ServiceCard/ServiceCard.jsx
  client/src/components/ServicesGrid/ServicesGrid.jsx
Due: cd client && eslint --fix, cd client && prettier --write

fix: change GET API check endpoint from /account to /contacts
  server/monitor.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: ((any of: *.js) or (any of: *.{json,md,yml,yaml})) or (any of: *.css)
  cd client && eslint --fix: any of: client/**/*.{js,jsx}
  cd client && prettier --write: any of: client/**/*.{js,jsx}
