Repository NickLaye/amocrm-health-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "client/**/*.{js,jsx}": [
    "cd client && eslint --fix",
    "cd client && prettier --write"
  ]
}

fix: resolve ESLint curly brace and equality errors
  client/package-lock.json
  client/package.json
  client/src/components/ResponseTimeChart.jsx
  client/src/components/ServiceCard/ServiceCard.jsx
  client/src/components/ServicesGrid/ServicesGrid.jsx
  client/src/setupTests.js
  client/src/utils/api-helpers.js
  client/src/utils/formatters.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

feat: replace console.log with Winston logger and log rotation
  .gitignore
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/server/api.js.html
  coverage/lcov-report/server/config/constants.js.html
  coverage/lcov-report/server/config/env-validator.js.html
  coverage/lcov-report/server/config/environment.js.html
  coverage/lcov-report/server/config/index.html
  coverage/lcov-report/server/database.js.html
  coverage/lcov-report/server/index.html
  coverage/lcov-report/server/middleware/auth.js.html
  coverage/lcov-report/server/middleware/index.html
  coverage/lcov-report/server/middleware/validation.js.html
  coverage/lcov-report/server/monitor.js.html
  coverage/lcov-report/server/notifications.js.html
  coverage/lcov-report/server/token-manager.js.html
  coverage/lcov-report/server/utils/export-helpers.js.html
  coverage/lcov-report/server/utils/http-helpers.js.html
  coverage/lcov-report/server/utils/index.html
  coverage/lcov.info
  package-lock.json
  package.json
  server/utils/__tests__/logger.test.js
  server/utils/logger.js
Due: eslint --fix, prettier --write

fix: replace all console.log/error with Winston logger in monitor.js
  server/monitor.js
Due: eslint --fix, prettier --write

test: update monitor tests to work with Winston logger
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/server/api.js.html
  coverage/lcov-report/server/config/constants.js.html
  coverage/lcov-report/server/config/env-validator.js.html
  coverage/lcov-report/server/config/environment.js.html
  coverage/lcov-report/server/config/index.html
  coverage/lcov-report/server/database.js.html
  coverage/lcov-report/server/index.html
  coverage/lcov-report/server/middleware/auth.js.html
  coverage/lcov-report/server/middleware/index.html
  coverage/lcov-report/server/middleware/validation.js.html
  coverage/lcov-report/server/monitor.js.html
  coverage/lcov-report/server/notifications.js.html
  coverage/lcov-report/server/token-manager.js.html
  coverage/lcov-report/server/utils/export-helpers.js.html
  coverage/lcov-report/server/utils/http-helpers.js.html
  coverage/lcov-report/server/utils/index.html
  coverage/lcov-report/server/utils/logger.js.html
  coverage/lcov.info
  server/__tests__/monitor.test.js
Due: eslint --fix, prettier --write

fix: исправление тестов после интеграции Winston logger
  client/src/utils/__tests__/api-helpers.test.js
  client/src/utils/__tests__/formatters.test.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/index.html
  coverage/lcov-report/server/api.js.html
  coverage/lcov-report/server/config/constants.js.html
  coverage/lcov-report/server/config/env-validator.js.html
  coverage/lcov-report/server/config/environment.js.html
  coverage/lcov-report/server/config/index.html
  coverage/lcov-report/server/database.js.html
  coverage/lcov-report/server/index.html
  coverage/lcov-report/server/middleware/auth.js.html
  coverage/lcov-report/server/middleware/index.html
  coverage/lcov-report/server/middleware/validation.js.html
  coverage/lcov-report/server/monitor.js.html
  coverage/lcov-report/server/notifications.js.html
  coverage/lcov-report/server/token-manager.js.html
  coverage/lcov-report/server/utils/export-helpers.js.html
  coverage/lcov-report/server/utils/http-helpers.js.html
  coverage/lcov-report/server/utils/index.html
  coverage/lcov-report/server/utils/logger.js.html
  coverage/lcov.info
  jest.config.js
  server/__tests__/api.integration.test.js
  server/__tests__/database.test.js
  server/__tests__/monitor.test.js
  server/__tests__/notifications.test.js
  server/__tests__/token-manager.test.js
  server/token-manager.js
  server/utils/__tests__/http-helpers.test.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: исправление ESLint ошибок curly braces в frontend файлах
  client/src/components/AverageResponseTime/AverageResponseTime.jsx
  client/src/components/Dashboard/Dashboard.jsx
  client/src/components/IncidentHistory.jsx
  client/src/components/LastUpdateCard/LastUpdateCard.jsx
  client/src/utils/formatters.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: добавлен lint скрипт в package.json для CI/CD
  package.json
Due: prettier --write

fix: изменен npm ci на npm install для frontend в CI/CD
  .github/workflows/test.yml
Due: prettier --write

fix: обновлен Deploy workflow для корректной работы без секретов
  .github/workflows/deploy.yml
Due: prettier --write

fix: восстановлен автоматический deploy при push в main
  .github/workflows/deploy.yml
Due: prettier --write

fix: исправлена структура deploy artifact и путь к frontend build
  .github/workflows/deploy.yml
Due: prettier --write

fix: экранирование пути с пробелами в scp команде
  .github/workflows/deploy.yml
Due: prettier --write

fix: использование rsync вместо scp и создание директории перед deploy
  .github/workflows/deploy.yml
Due: prettier --write

fix: исправлен путь к frontend build в nginx.conf
  nginx.conf
Due: none

feat: автоматическое обновление Nginx конфигурации при деплое
  .github/workflows/deploy.yml
Due: prettier --write

fix: исправлен deploy артефакт и зависимости
  .github/workflows/deploy.yml
Due: prettier --write

fix: правильная структура deploy артефакта
  .github/workflows/deploy.yml
Due: prettier --write

fix: улучшен health check с более детальной диагностикой
  .github/workflows/deploy.yml
Due: prettier --write

fix: исправлен путь health check с /api/health на /health
  .github/workflows/deploy.yml
Due: prettier --write

fix: добавлена детальная диагностика PM2 в deploy
  .github/workflows/deploy.yml
Due: prettier --write
