Repository NickLaye/amocrm-health-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "client/**/*.{js,jsx}": [
    "cd client && eslint --fix",
    "cd client && prettier --write"
  ]
}

fix: resolve auth 401/429 errors, fix webhook timeouts, and stabilize SSE stream
  server/app-server.js
  server/config/client-registry.js
  server/config/constants.js
  server/middleware/auth-limiter.js
  server/middleware/auth.js
  server/monitor/amo-crm-monitor.js
  server/monitor/dp-handler.js
  server/monitor/health-checks.js
  server/monitor/status-manager.js
  server/routes/api/webhooks.js
  server/token-manager.js
  server/utils/rate-limiter.js
Due: eslint --fix, prettier --write

fix: make test entity IDs optional and clean up app-server.js
  server/app-server.js
  server/config/env-validator.js
Due: eslint --fix, prettier --write

fix: include frontend build in deployment artifact
  .github/workflows/deploy.yml
Due: prettier --write

fix: use URLSearchParams for token refresh request body
  server/token-manager.js
Due: eslint --fix, prettier --write

feat: use domain instead of UUID in alerts
  server/notifications.js
Due: eslint --fix, prettier --write

fix: исправлен тест refreshToken для корректной проверки URL-encoded параметров
  server/__tests__/token-manager.test.js
Due: eslint --fix, prettier --write

fix: улучшен health check в деплое - исправлен nginx proxy и добавлены retry попытки
  .github/workflows/deploy.yml
  nginx.conf
Due: prettier --write

fix: исправлен порядок регистрации маршрутов - /health теперь регистрируется после статики, но перед catch-all SPA маршрутом
  server/app-server.js
Due: eslint --fix, prettier --write

fix: улучшена обработка истёкших токенов - проверка при старте, более частый auto-refresh (30 мин) и лучшая обработка ошибок
  server/__tests__/token-manager.test.js
  server/monitor/amo-crm-monitor.js
  server/token-manager.js
Due: eslint --fix, prettier --write

fix: улучшена диагностика health check - добавлено логирование и проверка локального endpoint перед проверкой через nginx
  .github/workflows/deploy.yml
  server/app-server.js
Due: eslint --fix, prettier --write

fix: добавлен приоритет ^~ для location /health в nginx для предотвращения перехвата запросов location /
  nginx.conf
Due: none

fix: используем точное совпадение location = /health для максимального приоритета в nginx
  nginx.conf
Due: none

fix: улучшена проверка конфигурации nginx и удаление конфликтующих статических файлов
  .github/workflows/deploy.yml
Due: prettier --write

fix: изменён proxy_pass для /health - убран путь из proxy_pass чтобы nginx передавал полный URI
  nginx.conf
Due: none

fix: исправлена ошибка bash в цикле проверки health endpoint и улучшена установка зависимостей
  .github/workflows/deploy.yml
Due: prettier --write

fix: добавлена проверка наличия файлов перед запуском PM2 и улучшена диагностика
  .github/workflows/deploy.yml
Due: prettier --write

fix: добавлена проверка применения конфигурации nginx и тест через локальный nginx
  .github/workflows/deploy.yml
Due: prettier --write

fix: изменён location /health на ^~ с явным путём в proxy_pass для корректной работы проксирования
  nginx.conf
Due: none
