Repository NickLaye/amocrm-health-monitor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.css": [
    "prettier --write"
  ],
  "client/**/*.{js,jsx}": [
    "cd client && eslint --fix",
    "cd client && prettier --write"
  ]
}

fix: улучшена обработка ошибок 401 - теперь это WARNING вместо DOWN, улучшена обработка ошибок токена
  server/monitor/status-manager.js
  server/token-manager.js
Due: eslint --fix, prettier --write

fix: initializeFromEnv теперь async и может работать только с refresh_token, улучшено логирование инициализации токенов
  server/monitor/amo-crm-monitor.js
  server/token-manager.js
Due: eslint --fix, prettier --write

fix: добавлена проверка параметров перед refreshToken в initializeFromEnv, улучшено логирование ошибок
  server/token-manager.js
Due: eslint --fix, prettier --write

fix: добавлена проверка currentTokens перед возвратом access_token в getAccessToken
  server/token-manager.js
Due: eslint --fix, prettier --write

fix: skip POST API check if test entity not configured
  server/monitor/health-checks.js
Due: eslint --fix, prettier --write

fix: add debounce for warning notifications to prevent spam
  server/monitor/amo-crm-monitor.js
Due: eslint --fix, prettier --write

fix: add debounce for warning resolved notifications
  server/monitor/amo-crm-monitor.js
Due: eslint --fix, prettier --write

fix: correct escalation config and partial recovery logic
  server/monitor/amo-crm-monitor.js
Due: eslint --fix, prettier --write

fix: close incident on gradual recovery (DOWN->WARNING->UP)
  server/monitor/amo-crm-monitor.js
Due: eslint --fix, prettier --write

fix: set correct reason when status escalates from UP to WARNING
  server/monitor/status-manager.js
  server/notifications.js
Due: eslint --fix, prettier --write

chore: increase latency thresholds to 10s (warning) and 15s (down)
  server/config/constants.js
Due: eslint --fix, prettier --write

fix: skip warning alerts on partial recovery (DOWN->WARNING)
  server/monitor/amo-crm-monitor.js
Due: eslint --fix, prettier --write

fix: add caching for clients list to prevent 429 errors
  client/src/hooks/useMonitoring.js
  client/src/services/api.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix(security,test): harden auth/sse, sanitize accounts, and clean secret history tooling
  .gitignore
  package-lock.json
  package.json
  scripts/run-integration-tests.js
  server/__tests__/api.integration.test.js
  server/__tests__/edge_cases.test.js
  server/__tests__/health-routes.test.js
  server/__tests__/multi-tenant.integration.test.js
  server/__tests__/security.integration.test.js
  server/__tests__/token-manager.test.js
  server/app-server.js
  server/middleware/auth-limiter.js
  server/monitor/amo-crm-monitor.js
  server/routes/api/accounts.js
  server/routes/api/export.js
  server/routes/api/sse.js
  server/services/account-writer.js
  server/token-manager.js
  server/utils/api-helpers.js
Due: eslint --fix, prettier --write

fix(token-manager): coalesce concurrent refreshToken calls to prevent 401 storm
  server/__tests__/token-manager.test.js
  server/token-manager.js
Due: eslint --fix, prettier --write

fix(monitor): rethrow refresh failure as auth_error to prevent 401 escalating to DOWN
  server/monitor/amo-crm-monitor.js
Due: eslint --fix, prettier --write

chore: add manual workflow to push fresh tokens to server
  .github/workflows/refresh-tokens.yml
Due: prettier --write

chore: update refresh-tokens workflow for long-term token support
  .github/workflows/refresh-tokens.yml
Due: prettier --write

fix(server): runtime account monitoring, tenant-scoped stats, health probes
  .env.example
  .gitignore
  server/__tests__/api.integration.test.js
  server/__tests__/database.test.js
  server/__tests__/health-routes.test.js
  server/__tests__/monitor-orchestrator.test.js
  server/__tests__/monitor.test.js
  server/app-server.js
  server/config/constants.js
  server/database.js
  server/monitor-orchestrator.js
  server/monitor/amo-crm-monitor.js
  server/monitor/status-manager.js
  server/notifications.js
  server/routes/api/accounts.js
  server/routes/api/export.js
  server/routes/api/stats.js
  server/routes/api/webhooks.js
  server/routes/health.js
  server/services/account-writer.js
Due: eslint --fix, prettier --write

fix(client): rotate SSE token on reconnect, fix timer leak, mask secrets
  client/src/__tests__/HealthMonitorDashboard.test.jsx
  client/src/components/HealthMonitorDashboard/HealthMonitorDashboardWithData.jsx
  client/src/components/IncidentHistory.jsx
  client/src/constants/index.js
  client/src/hooks/useMonitoring.js
  client/src/pages/AddAccountPage.jsx
  client/src/services/api.js
  client/src/services/config.js
  client/src/utils/api-helpers.js
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

ci: fix invalid refresh-tokens workflow and move actions off node 20
  .github/workflows/ci-cd.yml
  .github/workflows/dependency-health.yml
  .github/workflows/deploy.yml
  .github/workflows/refresh-tokens.yml
Due: prettier --write

ci: add temporary read-only server diagnostics workflow
  .github/workflows/diagnose.yml
Due: prettier --write

ci: fix SSH key newline in diagnose and refresh-tokens workflows
  .github/workflows/diagnose.yml
  .github/workflows/refresh-tokens.yml
Due: prettier --write

ci: tail err.log/out.log directly in diagnose workflow
  .github/workflows/diagnose.yml
Due: prettier --write

ci: run app directly in diagnose to capture startup crash
  .github/workflows/diagnose.yml
Due: prettier --write

ci: step-by-step startup probe in diagnose workflow
  .github/workflows/diagnose.yml
Due: prettier --write

fix(server): stop requiring AMOCRM_REFRESH_TOKEN; accept long-term access token
  server/config/env-validator.js
Due: eslint --fix, prettier --write
